body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: radial-gradient(circle,purple, rgb(0, 0, 150));
    background-size: cover;
    height: 100vh; /*body bude velikosti celého okna*/
    margin: 0px;

}
h1{
    white-space: nowrap;
    position: absolute;
    font-size: 5em;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%); /* tahle řádka posune ten text tak, aby byl "vycentrovaný"*/
    transition: color 500ms;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0);
    transition: text-decoration 500ms, color 500ms ease-in-out;
}
#hra{
    background-color: rgba(0, 0, 0, 0.2);
    width: 120px;
    height: 120px;
    border: 5px solid black;
    border-radius: 100%;
    margin: auto;
    position: relative;
    top: 40%;
    align-content: center;
    transition:border 500ms, background-color 500ms, width 500ms, height 500ms, underline 500ms ease-in-out;
}
#hra:hover{
    cursor: pointer;
    height: 125px;
    width: 125px;
    border: 5px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    #trojúhelník{
        border-bottom: 70px solid rgb(255, 255, 255);
    }

}
#trojúhelník {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 70px solid rgb(0, 0, 0);
    rotate: 90deg;
    margin: auto;
    position: relative;
    left: 5px;
    transition:border 500ms;
}
#home{
    text-align: center;
    width: 120px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 5px solid black;
    border-radius: 7%;
    position: absolute;
    left: 10px;
    top: 10px;
    transition:border 500ms, background-color 500ms, width 500ms, height 500ms, underline 500ms ease-in-out;
}
/*#nastavení{                 
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 5px solid black;
    border-radius: 10%;
    position: absolute;
    left: 80px;
    top: 10px;
    transition:border 500ms, background-color 500ms, width 500ms, height 500ms, underline 500ms ease-in-out;
}*/
#ostatni{
    text-align: center;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 5px solid black;
    border-radius: 10%;
    position: absolute;
    left: 150px;
    top: 10px;
    transition:border 500ms, background-color 500ms, width 500ms, height 500ms, underline 500ms ease-in-out;
}
.icon{
    max-width: 45px;
    max-height: 45px;
    transition: filter 500ms;
}
#rotate{
    rotate: 90deg;
}
#home:hover, #nastavení:hover, #ostatni:hover{
    cursor: pointer;
    border: 5px solid white;
    background-color: rgba(255, 255, 255, 0.2);
}
#nastavení_menu{
    display: none;
    width: 190px;
    height: 200px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    border: 5px solid white;
    border-radius: 5%;
    margin-left: 10px;
    position: absolute;
    top: 80px;
}
#nastavení_menu:hover{
    display: block;
}
#most{
    display: none;
    /*border: 1px solid red;*/ /*Označení "mostu". další zbytečne složitá věc, aby něco fungovalo*/
    width: 55px;
    height: 15px;
    position: absolute;
    left: 150px;
    top: 65px;
}
#canvas{
    display: none;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgb(255, 255, 255);
    border: 10px outset rgb(255, 0, 0) ;
    

}
#body{
    font-size: 4em;
    position: relative;
    top: -700px;
    left: 100px;
}